<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <title>Administrador - Interaquiz</title>
        <link rel="stylesheet" href="../css/admin.css" />
    </head>

    <body>
        <header class="header">Panel de Administración</header>

        <main class="main-content">
            <h1>Bienvenido, Administrador</h1>
            <p>Actualmente estas son las funcionalidades disponibles para el rol de administrador:</p>
            <button onclick="location.href='../views/puzzleprueba.html'">
                    Probar creacion puzzle
            </button>
            <p>Estamos trabajando para habilitar las funciones de gestión y control en próximas versiones.</p>

            <section class="info-box">
                <h2>Próximas Funciones:</h2>
                <u1>
                    <li>Gestión de proyectos y usuario</li>
                    <li>Control de estadísticas</li>
                    <li>Exportación de resultados</li>
                    <li>Configuración avanzada del sistema</li>
                </u1>
            </section>

            <button onclick="location.href='../index.html'">Volver al Inicio</button>
        </main>

        <footer class="footer">Interaquiz &copy; 2025</footer>
    </body>
</html>