<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editar Pregunta - Interaquiz</title>
    <link rel="stylesheet" href="../css/editor-preguntas.css" />
    </head>
<body>

    <header class="header">
        <nav class="nav">
            <h2 class="logo">INTERAQUIZ</h2>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="professor.html">Profesor</a></li>
                <li><a href="admin.html">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <h2>Agregar / Editar Pregunta</h2>
        <form id="preguntaForm">
            <input id="titulo" name="titulo" type="text" placeholder="Titulo de la pregunta" required />
            <textarea id="descripcion" name="descripcion" placeholder="Descripcion de la pregunta" required></textarea>
            <select required id="dificultad" name="dificultad">
                <option disabled selected>Selecciona dificultad</option>
                <option value="facil">Fácil</option>
                <option value="medio">Intermedio</option>
                <option value="dificil">Difícil</option>
              </select>
            <div class="buttons-group">
                <button type="submit">Guardar</button>
                <button type="button" onclick="window.location.href='professor.html'">Cancelar</button>
            </div>
        </form>
    </main>

    <footer class="footer">
        &copy; 2025 Interaquiz
    </footer>

    <script src="../js/editor-proyecto.js"></script>
</body>
</html>
