<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profesor - Interaquiz</title>
        <link rel="stylesheet" href="../css/home.css" /> 
    </head>

    <body>
        <header class="header"></header>

        <main class="main-content">
            <h1>Panel Principal</h1>
            <p>Accede a las funciones de prueba</p>

            <button onclick="location.href='../views/puzzleprueba.html'">
                Probar creacion puzzle
            </button>
            
            <button onclick="location.href='../index.html'">Volver al Inicio</button>
        </main>

        <footer class="footer">
            <p>Interaquiz &copy; 2025</p>
        </footer>
    </body>
</html>