 <!DOCTYPE html>
 <html lang="es">
    <head>
        <meta charset ="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>INTERAQUIZ - Inicio</title>
        <link rel="stylesheet" href="../css/main.css" />
    </head>

    <body>
        <header class="header"></header>

        <main class="main-content">
            <h2>Bienvenido a:</h2>
            <h1>INTERAQUIZ</h1>

            <div class="buttons">
                <button onclick="location.href='home.html'">Soy Profesor</button>
                <button onclick="location.href='admin.html'">Soy Administrador</button>"
            </div>
        </main>

        <footer class="footer"></footer>
    </body>
 </html>
