<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Preguntas - Interaquiz</title>
    <link rel="stylesheet" href="../css/ver-preguntas.css" />
    <link rel="stylesheet" href="../css/puzzle.css" />
</head>

<body>
    <header class="header">
        <nav class="nav">
            <button onclick="window.location.href='professor.html'" class="btn-volver">
                ← Volver al panel del profesor
            </button>
            <h2 class="logo">INTERAQUIZ</h2>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="professor.html">Profesor</a></li>
                <li><a href="admin.html">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main class="container" id="question-container">

        <div class="content-flex">
            <div class="question-details">
                <div class="question-title" id="tituloPregunta">Título de la Pregunta</div>
                <div class="question-description" id="descripcionPregunta">Descripción de la Pregunta</div>
            </div>

            <div class="question-top">     
                <img id="imagePreview" class="question-image" src="" alt="Imagen de la pregunta" style="display: none;" />

                <div class="puzzle-flex">
                    <div id="puzzle-container" class="question-puzzle">
                        <div style="width:96px; height:96px; background:#aaf;">Pieza</div>
                    </div>
                    <div id="basket-container" class="basket">
                        <div style="width:96px; height:96px; background:#faa;">Canasta</div>
                    </div>
                </div>

                <div class="question-difficulty" id="dificultadPregunta">Dificultad</div>
                <div class="question-options" id="opcionesContainer"></div>
                <div class="question-msg" id="respuestaMsg"></div>
            </div>
        </div>
        
    </main>

    <footer class="footer">
      <div class="footer-content">
          <p>&copy; 2025 Interaquiz. Todos los derechos reservados.</p>
      </div>
    </footer>

    <script src="../js/app.js"></script>
    <script type="module" src="../js/ver-preguntas.js"></script>
</body>
</html>
