<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Preguntas - Interaquiz</title>
    <link rel="stylesheet" href="../css/ver-preguntas.css" />
    <link rel="stylesheet" href="../css/puzzle.css" />
</head>

<body>
    <header class="header">
        <nav class="nav">
            <h2 class="logo">INTERAQUIZ</h2>
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="professor.html">Profesor</a></li>
                <li><a href="admin.html">Administrador</a></li>
            </ul>
             <div id="nombreProfesor" class="nombre-profesor"></div>
        </nav>
    </header>

    <main class="container" id="question-container">

        <button onclick="window.location.href='professor.html'" 
            style="
                position: absolute;
                top: 18px; left: 28px; 
                padding: 0.7em 1.6em; 
                background: #11b89c; 
                color: #ffffff; 
                border: 2px solid #3759b4; 
                border-radius: 10px;  
                font-size: 1em;
                cursor: pointer;
                box-shadow: 0 1px 8px #3459c426;
                z-index: 1000;">
            ← Volver al panel del profesor
        </button>

        <div class="pregunta-layout">
            <div class="question-details">
                <div class="question-title" id="tituloPregunta">Título de la Pregunta</div>
                <div class="question-description" id="descripcionPregunta">Descripción de la Pregunta</div>
            </div>

            <div class="question-top">
                <div class="question-difficulty" id="dificultadPregunta">Dificultad</div>
                <img id="imagePreview" class="question-image" src="" alt="Imagen de la pregunta" style="display: none;" />
                <div class="puzzle-flex">
                    <div id="puzzle-container" class="question-puzzle"></div>
                    <div id ="basket-container" class="puzzle-basket"></div>
                </div>
                <div class="question-options" id="opcionesContainer"></div>
                <div class="question-msg" id="respuestaMsg"></div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Interaquiz. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script type="module" src="../js/ver-preguntas.js"></script>
</body>
</html>